#    All developers and maintainers involved in this project should include their real Github 
# account name and email address in this dictionary. Arrange them from top to bottom in the o
# -rder of the first letters A~Z~a~z. 
# Format user name<email><new email>, please make sure to organize and improve your dictionary

# repository author(master)

ohmycode-cn <ohcode@163.com>